<a href="https://colab.research.google.com/github/rpasquini/econometria/blob/main/Ejemplos_Testeo_de_Hip%C3%B3tesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import statsmodels.api as sm

In [8]:
def regress(lista, data):
  """ 
  Funcion que realiza la regresion OLS
  La primera variable de la lista es la dependiente, el resto son las explicativas
  data es la base de datos
  """
  datos=data[lista]
  # el metodo dropna() me permite eliminar las filas que tienen algun valor missing
  datos=datos.dropna()
  Y=datos[lista[0]]
  X=datos[lista[1:]]
  X=sm.add_constant(X)
  modelo=sm.OLS(Y,X)
  resultados=modelo.fit()
  print(resultados.summary())
  return resultados

# Ejemplo Bitcoin versus Litecoin

$BTC=\beta_0+\beta_1LTC+ϵ$

Mi interes estimar el modelo , con el objetivo en particular de identificar un tipo de cambio (capturado por el beta 1) y ademas saber si hay algun tipo de spread (capturado en beta 0)

In [9]:
df=pd.read_excel("https://github.com/rpasquini/econometria/blob/main/datos/BTCvsLTC.xlsx?raw=true")
df

          Date         LTC           BTC
0   2022-04-17  109.042786  39716.953125
1   2022-04-18  111.226143  40826.214844
2   2022-04-19  113.812088  41502.750000
3   2022-04-20  111.979691  41374.378906
4   2022-04-21  106.997986  40527.363281
..         ...         ...           ...
361 2023-04-13   94.259499  30399.066406
362 2023-04-14   96.451973  30485.699219
363 2023-04-15   96.868210  30318.496094
364 2023-04-16  100.267448  30315.355469
365 2023-04-17   99.056030  29463.451172

[366 rows x 3 columns]

In [10]:
regress(['BTC','LTC'], df)

                            OLS Regression Results
==============================================================================
Dep. Variable:                    BTC   R-squared:                       0.296
Model:                            OLS   Adj. R-squared:                  0.294
Method:                 Least Squares   F-statistic:                     153.2
Date:                Mon, 17 Apr 2023   Prob (F-statistic):           1.32e-29
Time:                        19:48:00   Log-Likelihood:                -3619.1
No. Observations:                 366   AIC:                             7242.
Df Residuals:                     364   BIC:                             7250.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.025e+04   1064.959      9.627      0.000    8157.756    1.23e+04
LTC          179.6547     14.516     12.377      0.000     151.110     208.200
==============================================================================
Omnibus:                       15.957   Durbin-Watson:                   0.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               16.804
Skew:                           0.502   Prob(JB):                     0.000224
Kurtosis:                       2.694   Cond. No.                         313.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

$\hat{\beta_0}=10250$ \\
$\hat{\beta_1}=179.65$

Test de hipotesis: \
$H_0: \beta_1=0$ \
$H_1: \beta_1\neq0$ \

$T=\frac{\hat{\beta_1}}{std error}$

P>|t| P-value

# Ejemplo Campus

enrol                            total enrollment \\
priv                             =1 if private college  \\
police                           employed officers \\
crime                            total campus crimes \\
lcrime                           log(crime) \\
lenroll                          log(enroll) \\
lpolice                          log(police) \\

Fuente: Wooldridge

$\log{CRIME}=\beta_0+\beta_1\log ENROLL+ϵ$

In [6]:
df2=pd.read_excel("https://github.com/rpasquini/econometria/blob/main/datos/campus.xls?raw=true")
df2

    enrol  priv  police  crime    lcrime   lenroll   lpolice
0   21836     0      24    446  6.100319  9.991315  3.178054
1    6485     0      13      1  0.000000  8.777247  2.564949
2    2123     0       3      1  0.000000  7.660585  1.098612
3    8240     0      17    121  4.795791  9.016756  2.833213
4   19793     0      30    470  6.152733  9.893084  3.401197
..    ...   ...     ...    ...       ...       ...       ...
92   3176     0       4     56  4.025352  8.063377  1.386294
93  10992     0       9    187  5.231109  9.304923  2.197225
94   5034     1       7     15  2.708050  8.523971  1.945910
95   7710     1       5    426  6.054440  8.950274  1.609438
96  20693     0      32    616  6.423247  9.937551  3.465736

[97 rows x 7 columns]

In [11]:
regress(['lcrime','lenroll'],df2)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 lcrime   R-squared:                       0.585
Model:                            OLS   Adj. R-squared:                  0.580
Method:                 Least Squares   F-statistic:                     133.8
Date:                Mon, 17 Apr 2023   Prob (F-statistic):           7.83e-20
Time:                        20:43:35   Log-Likelihood:                -125.83
No. Observations:                  97   AIC:                             255.7
Df Residuals:                      95   BIC:                             260.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -6.6314      1.034     -6.416      0.000      -8.683      -4.580
lenroll        1.2698      0.110     11.567      0.000       1.052       1.488
==============================================================================
Omnibus:                       51.350   Durbin-Watson:                   1.548
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              247.879
Skew:                          -1.628   Prob(JB):                     1.49e-54
Kurtosis:                      10.123   Cond. No.                         108.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Test de hipotesis de interes en este caso es chequear que la elasticidad es 1: \
$H_0: \beta_1=1$ \
$H_1: \beta_1\neq1$ \

$T=\frac{\hat{\beta_1}-1}{std error}$

P>|t| P-value

In [14]:
# Calculamos el estadistico T a mano:

In [15]:
(1.2698-1)/0.110

2.452727272727273

Como el valor de T de rechazo al 5% era 1.96 aprox, entonces rechazo la H0

In [16]:
results=regress(['lcrime','lenroll'],df2)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 lcrime   R-squared:                       0.585
Model:                            OLS   Adj. R-squared:                  0.580
Method:                 Least Squares   F-statistic:                     133.8
Date:                Mon, 17 Apr 2023   Prob (F-statistic):           7.83e-20
Time:                        20:56:52   Log-Likelihood:                -125.83
No. Observations:                  97   AIC:                             255.7
Df Residuals:                      95   BIC:                             260.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -6.6314      1.034     -6.416      0.000      -8.683      -4.580
lenroll        1.2698      0.110     11.567      0.000       1.052       1.488
==============================================================================
Omnibus:                       51.350   Durbin-Watson:                   1.548
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              247.879
Skew:                          -1.628   Prob(JB):                     1.49e-54
Kurtosis:                      10.123   Cond. No.                         108.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Puedo implementar el test t simplemente usando resultado.t_test pasando un string con el nombre de la variable igual al valor de interés a testear

In [22]:
results.t_test('lenroll=1')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             1.2698      0.110      2.457      0.016       1.052       1.488
==============================================================================

In [23]:
# Alternativamente si quisieramos calcular el p-valor a mano, podemos usar la libreria scipy.stats 
# uso scipy.stats.t.cdf (cdf es cumulative distribution function: funcion acumulada)

import scipy.stats as stats

# t_stat es el estadistico t
t_stat = 2.452727272727273
# 
gradosdelibertad = 96

# 1 menos la distribucion acumulativa me da lo acumulado en la cola de la distribucion
p_value =2*( 1 - stats.t.cdf(2.452727272727273, 96))

print("P-Value:", p_value)

P-Value: 0.015983000245382906

Por lo tanto rechazo al 5% que el valor es igual a 1.
(al 1% no rechazo)