<a href="https://colab.research.google.com/github/OctavioSantalucia/econometria/blob/main/ejercicios/Soluci%C3%B3n_Ej1_CEF_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
#Pandas es una librería esencial para trabajar con bases de datos. Necesitamos importarla para poder trabajar con este archivo.

In [18]:
df=pd.read_csv('https://raw.githubusercontent.com/rpasquini/econometria/main/datos/eah2016_individual.csv')
#Importamos el archivo, y le asignamos un nombre, en este caso "df", de "Dataframe". Podríamos haber elegido cualquier otro nombre. En el material de la materia solemos nombrarlos "df".

A continuación haremos una serie de pasos "innecesarios" pero que nos sirven para visualizar el dataframe y entender la data con la que estamos trabajando.

In [19]:
df.columns

Index(['id', 'nhogar', 'miembro', 'comuna', 'dominio', 'edad', 'sexo',
       'parentes_2', 'p5_2', 'p6_a', 'p6_b', 'estado', 'categori', 't13',
       't14', 't18', 't28', 't29', 't29a', 't30', 'sem_hs', 't33', 't34',
       't35', 't37_cod_2', 't37_coda_2', 't38', 't39', 't40', 't41_cod_2',
       't47', 't48', 't51_bis', 'i1', 'i4', 'i6_3', 'i10', 'i11', 'codioph',
       'ioph_2', 'codioph_neto', 'ioph_neto_2', 'codios', 'ios_2', 'codioa',
       'ioa_2', 'codlab', 'inglab_2', 'codi3_1x', 'i3_1x_2', 'codi3_2x',
       'i3_2x_2', 'codi3_8x', 'i3_8x_2', 'codi3_est', 'i3_est_2', 'codi3_otr',
       'i3_otr_2', 'codnolab', 'ingnolab_2', 'coding', 'ingtot_2', 'codi_tot',
       'itfb_2', 'ipcfb_2', 'e2', 'e4', 'e6', 'e8', 'e12', 'e13', 'e14',
       'edad_30', 'nivel', 'aesc', 'm1', 'm1_2', 'm2_anio', 'm3_anio',
       'tipcob2_2', 'sn1_1', 'sn1_7', 'sn1_2', 'sn1_3', 'sn1_4', 'sn1_5', 's8',
       'sn14', 'sn16', 's28', 's29', 'fexp', 'sexotexto', 'inmigrante',
       'logingreso', 'dsex'],
      dtype='object')

In [20]:
df.head()

,id,nhogar,miembro,comuna,dominio,edad,sexo,parentes_2,p5_2,p6_a,...,s8,sn14,sn16,s28,s29,fexp,sexotexto,inmigrante,logingreso,dsex
0,1,1,1,13,resto ciudad,18,mujer,1,6,95,...,2,0,Excelente,2,0,973,mujer,nativo arg,8.384804,1
1,2,1,1,1,resto ciudad,18,varon,1,6,95,...,2,0,Excelente,0,0,115,varon,inmigrante,9.104980,0
2,3,1,1,6,inquilinatos hoteles inmuebles tomados,18,mujer,1,6,95,...,2,0,Excelente,2,0,223,mujer,inmigrante,8.482602,1
3,4,1,1,14,resto ciudad,18,varon,1,6,95,...,2,0,Excelente,0,0,421,varon,nativo arg,9.615806,0
4,5,1,1,2,resto ciudad,18,varon,1,6,95,...,2,0,Bueno,0,0,199,varon,nativo arg,9.615806,0

In [21]:
df["ingtot_2"].describe()

count     14512.000000
mean      10386.681850
std       13396.598595
min           0.000000
25%           0.000000
50%        7000.000000
75%       15000.000000
max      276000.000000
Name: ingtot_2, dtype: float64

In [35]:
df['ingtot_2']

0         4380
1         9000
2         4830
3        15000
4        15000
         ...
14507     6300
14508    21000
14509    10000
14510     7500
14511     9800
Name: ingtot_2, Length: 14512, dtype: int64

1. Creamos una nueva variable "predicción" que le asigna a cada individuo el ingreso promedio del grupo de sexo y años de educación al que pertenecen. A continuación verán dos maneras distintas de llegar al mismo resultado

In [38]:
df['prediccion'] = df.groupby(['sexo', 'aesc'])['ingtot_2'].transform('mean')
print(df['prediccion'])

0         8248.851972
1        12129.543284
2         8248.851972
3        12129.543284
4        12129.543284
             ...
14507     3001.994536
14508    13737.713326
14509     1843.852459
14510    12129.543284
14511     3099.721461
Name: prediccion, Length: 14512, dtype: float64

In [37]:
prediccion2 = df.groupby(['sexo', 'aesc'])['ingtot_2'].mean()
print(prediccion2)

sexo   aesc
mujer  0         185.801527
       1         594.841463
       2        1749.906977
       3        2275.925373
       4        1843.852459
       5        2851.137097
       6        1647.214876
       7        6520.078853
       8        3001.994536
       9        4761.677515
       10       5312.630769
       11       3099.721461
       12       8248.851972
       13       8227.142857
       14      10716.805970
       15      13737.713326
       16      11835.664474
       17      19562.592513
       18      20185.384615
       19      27915.747573
       99       2891.304348
varon  0          95.488827
       1        1189.761905
       2        1356.635514
       3        1906.956522
       4        1857.938931
       5        1826.851852
       6        1977.911290
       7        8430.258730
       8        5104.542986
       9        6448.291139
       10       8127.397394
       11       8811.493827
       12      12129.543284
       13      12283.214612
       14      15343.829574
       15      18439.947467
       16      17366.720430
       17      25681.230975
       18      25242.409836
       19      37863.903382
       99       6420.512821
Name: ingtot_2, dtype: float64

2. Creamos una segunda variable "error" que sea la diferencia entre el ingreso y la predicción

In [31]:
df['error'] = df['ingtot_2'] - df['prediccion']

3. Calculamos el error promedio para cada grupo según sexo y años de educación

In [39]:
error_promedio = df.groupby(['sexo', 'aesc'])['error'].mean()
print(error_promedio)

sexo   aesc
mujer  0      -1.666250e-14
       1      -2.634207e-14
       2      -7.755381e-14
       3       0.000000e+00
       4       3.727437e-14
       5      -1.466927e-14
       6      -5.261540e-14
       7      -1.836375e-13
       8      -1.341877e-13
       9       2.690813e-14
       10      8.955025e-14
       11     -4.983533e-14
       12      7.972041e-13
       13      3.464742e-13
       14      7.601747e-13
       15      7.475578e-13
       16      5.265496e-13
       17     -1.408501e-12
       18     -1.679067e-12
       19      6.357633e-13
       99     -1.581730e-13
varon  0      -7.145122e-16
       1      -4.330927e-14
       2       1.699990e-14
       3      -3.954325e-15
       4       6.248437e-14
       5      -1.515825e-13
       6      -8.068098e-14
       7       9.816768e-14
       8       2.880752e-13
       9      -5.180666e-13
       10      7.702561e-14
       11      6.138154e-13
       12     -6.570081e-13
       13     -4.817415e-13
       14     -7.886846e-13
       15      1.706369e-12
       16      1.564722e-12
       17      1.141422e-12
       18      1.789170e-13
       19     -2.144123e-12
       99      1.865630e-13
Name: error, dtype: float64

In [30]:
# Mostramos el resultado en una tabla
print(error_promedio)

sexo   aesc
mujer  0      -1.666250e-14
       1      -2.634207e-14
       2      -7.755381e-14
       3       0.000000e+00
       4       3.727437e-14
       5      -1.466927e-14
       6      -5.261540e-14
       7      -1.836375e-13
       8      -1.341877e-13
       9       2.690813e-14
       10      8.955025e-14
       11     -4.983533e-14
       12      7.972041e-13
       13      3.464742e-13
       14      7.601747e-13
       15      7.475578e-13
       16      5.265496e-13
       17     -1.408501e-12
       18     -1.679067e-12
       19      6.357633e-13
       99     -1.581730e-13
varon  0      -7.145122e-16
       1      -4.330927e-14
       2       1.699990e-14
       3      -3.954325e-15
       4       6.248437e-14
       5      -1.515825e-13
       6      -8.068098e-14
       7       9.816768e-14
       8       2.880752e-13
       9      -5.180666e-13
       10      7.702561e-14
       11      6.138154e-13
       12     -6.570081e-13
       13     -4.817415e-13
       14     -7.886846e-13
       15      1.706369e-12
       16      1.564722e-12
       17      1.141422e-12
       18      1.789170e-13
       19     -2.144123e-12
       99      1.865630e-13
Name: error, dtype: float64

4. Calculamos el error promedio general (de todas las observaciones)

In [ ]:
error_promedio_general = df['error'].mean()
print("error_promedio_general", error_promedio_general)

error_promedio_general 9.626404781720079e-14