<a href="https://colab.research.google.com/github/franciscosesto/econometria/blob/main/notebooks/5_Python_Austral.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



<h1>
<b> Python Econometr√≠a
</h1>

 
<div>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/800px-Python-logo-notext.svg.png " width="100"/>
</div>

##**ü§î ¬øQu√© es?**

Python es un lenguaje de programaci√≥n de alto nivel, c√≥digo abierto,
orientado a objetos, simple y f√°cil de entender.


1.   **Alto nivel:** Un lenguaje de programaci√≥n de alto nivel es aquel que ***est√° cerca del lenguaje humano y se aleja del lenguaje de la m√°quina***. 
2.   **C√≥digo abierto:** Su ***c√≥digo fuente est√° disponible*** para ser utilizado, modificado y distribuido de manera gratuita por cualquier persona.
3.    **Orientado a objetos:** Se basa en el ***concepto de objetos y clases***. Los objetos tienen caracter√≠sticas y comportamientos, y se relacionan entre s√≠ para formar un programa.

üî•
Para programar con comodidad se suele instalar un "IDE" o editor de texto.
Por ahora trabajaremos con un entorno de Google para enfocarnos solo en la
programaci√≥n, este entorno se llama Colab. üî•

## üéÆ **Funciones**

### ‚ûñ Funciones en programaci√≥n

Una funci√≥n es un bloque de c√≥digo que tiene asociado un nombre, de manera que cada vez que se quiera ejecutar el bloque de c√≥digo basta con invocar el nombre de la funci√≥n.

En Python para declarar una funci√≥n se utiliza la siguiente sintaxis
```python 
def nombre-funcion(par√°metros):
  bloque c√≥digo
  return objeto
  ```

In [ ]:
#Ejemplo funci√≥n saludar
def saludar():
  print("Hola ¬øc√≥mo est√°s?")
  return 

saludar() #Llamamos a la funci√≥n

Hola ¬øc√≥mo est√°s?

### ‚ûñ Par√°metros y argumentos de una funci√≥n

Una funci√≥n puede recibir valores cuando se invoca a trav√©s de unas variables conocidas como **par√°metros** que se definen entre par√©ntesis en la **declaraci√≥n de la funci√≥n**. En el cuerpo de la funci√≥n se pueden usar estos par√°metros como si fuesen variables.

Los valores que se pasan a la funci√≥n en una **llamada o invocaci√≥n** concreta de ella se conocen como **argumentos** y se asocian a los par√°metros de la declaraci√≥n de la funci√≥n.

In [ ]:
#Ejemplo funci√≥n saludar
def saludar(nombre):
  print("Hola",nombre, "¬øc√≥mo est√°s?")
  return 

saludar("Flor") #Llamamos a la funci√≥n

Hola Flor ¬øc√≥mo est√°s?

### ‚ûñ Paso de argumentos a una funci√≥n

Los argumentos se pueden pasar de dos formas:

- **Argumentos posicionales:** Se asocian a los par√°metros de la funci√≥n en el mismo orden que aparecen en la definici√≥n de la funci√≥n.
- **Argumentos nominales:** Se indica expl√≠citamente el nombre del par√°metro al que se asocia un argumento de la forma **parametro = argumento**.

In [ ]:
def describir(perro, barrio, nombre):
  print("Se llama",nombre,"vive en",barrio,"su perro se llama",perro)

In [ ]:
#Argumento posicional
describir("firulais","Nordelta","Juan Carlos")

Se llama Juan Carlos vive en Nordelta su perro se llama firulais

In [ ]:
#Argumnento nominal
describir(nombre="Pepe", perro="Lim√≥n", barrio="Belgrano")

Se llama Pepe vive en Belgrano su perro se llama Lim√≥n

### ‚ûñ Retorno de una funci√≥n

Las funciones pueden comunicarse con el exterior de las mismas, al proceso principal del programa usando la sentencia return. La comunicaci√≥n con el exterior se hace devolviendo valores. Por defecto, las funciones retornan el valor None

In [ ]:
#Funci√≥n sin return
def cuadrado(value):
    value**2

micuadrado=cuadrado(5)
print(micuadrado)

None

In [ ]:
#Funci√≥n con return
def cuadrado(value):
    return value**2

micuadrado=cuadrado(5)
print(micuadrado)

25

üî• Una funci√≥n puede devolver m√°s de un objeto separ√°ndolos por comas tras la palabra reservada return. En tal caso, la funci√≥n agrupar√° los objetos en una tupla y devolver√° la tupla. üî•

### ‚ûñ Argumentos por defecto

En la definici√≥n de una funci√≥n se puede asignar a cada par√°metro un argumento por defecto, de manera que si se invoca la funci√≥n sin proporcionar ning√∫n argumento para ese par√°metro, se utiliza el argumento por defecto.

In [ ]:
def matricularse(subject, year, university="Austral"):
    print("Usted se ha matriculado en", subject, "de", year,"a√±o", "en", university)

matricularse("Econometr√≠a",4)

Usted se ha matriculado en Econometr√≠a de 4 a√±o en Austral

üî•Los par√°metros con un argumento por defecto deben indicarse despu√©s de los par√°metros sin argumentos por defectos. De lo contrario se produce un error. üî•

## üîß M√≥dulos

### ‚ûñ M√≥dulos

Un m√≥dulo es un archivo que consta de c√≥digo Python. Puede definir funciones, clases y variables. Tambi√©n puede incluir c√≥digo ejecutable.

### ‚ûñ Importar el m√≥dulo

Ahora para poder acceder desde el nuevo archivo a todo lo realizado en el archivo donde tenemos las funcionalidades debemos escribir arriba de todo el c√≥digo: 
```python 
import nombre_del_modulo
```
Cada vez que quieras hacer referencia a algo de ese m√≥dulo deber√°s escribir antes de un punto el nombre del m√≥dulo. 
Por ejemplo con una funcion ser√≠a 
```python 
nombre_del_modulo.funcion()
```

In [ ]:
#Ejemplo importar m√≥dulo
import pandas

pandas.read_csv("/content/sample_data/california_housing_test.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

### ‚ûñ Importar con nickname

Tambi√©n podemos hacer referencia al modulo que queremos con un nickname que nosotros asignemos agreg√°ndole un as y luego el nickname y la sintaxis ser√≠a
```python
import nombre_del_modulo as nickname_del_modulo
```
Cada vez que quieras hacer referencia a algo de ese m√≥dulo deber√°s escribir antes de un punto el nickname del m√≥dulo (e.g.  import numpy as np o import pandas as pd)

In [ ]:
#Ejemplo importar con nickname
import pandas as pd

pd.read_csv("/content/sample_data/california_housing_test.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

### ‚ûñ Importar elementos espec√≠ficos

Para evitar escribir a cada rato el nombre del m√≥dulo, hay una alternativa muy √∫til: Podemos reemplazar el import por alg√∫n elemento, funci√≥n o clase espec√≠fico. Usando el from y la sintaxis ser√≠a
```python
from nombre_del_modulo import ‚Ä¶‚Ä¶
```
Al usar la forma from ... import ..., le indicamos a Python espec√≠ficamente cu√°les objetos queremos importar de un m√≥dulo en particular. Luego, los objetos importados se incorporan a nuestro archivo como cualquier otro objeto definido dentro de √©l. Por esta raz√≥n, no es necesario (ni posible) usar el prefijo nombre_del_modulo con este m√©todo.

In [ ]:
#Ejemplo importar elementos espec√≠ficos
from pandas import read_csv
read_csv("/content/sample_data/california_housing_test.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

## üåè Recursos

En el caso de que deseen ahondar m√°s en los tem√°s presentamos los siguientes recursos (algunos de los cuales fueron utilizados para armar este tutorial)
- https://docs.python.org/es/3/tutorial/index.html (documentaci√≥n oficial de python) 
- https://aprendeconalf.es/docencia/python/manual/ (manual de python de aprende con alf)
- https://www.w3schools.com/python/default.asp (tutorial de w3schools)
- https://docs.hektorprofe.net/python/ 
- https://www.geeksforgeeks.org/python-programming-language/?ref=ghm 
- https://www.freecodecamp.org/learn/data-analysis-with-python/

## üìé Autores 
El presente tutorial fue elaborado por 
- Pasquini Ricardo
- Sesto Francisco